<!doctype html>
<html lang="en" ng-app="afiliacion">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
	  <link rel="stylesheet" href="/css/common.css">

	<!-- Iconos -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" >
    <title>Afiliacion</title>
  </head>
  <body ng-controller="myController">
  	<div ng-include="'barra'"> </div>    
  	<div class="container"><br><br><br></div>  	
	<div class="container content-wrapper">
		<!-- Form -->
		<form ng-submit="submit()">
			<!-- Renglon -->
			<div class="form-row">
				<!-- Nombre -->
				<div class="form-group col-md-5">
				  <label for="inputNombre">Nombre</label>
				  <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" ng-model="nombre" required>
				</div>
				<!-- Apellido -->
				<div class="form-group col-md-5">
				  <label for="inputApellido">Apellido</label>
				  <input type="text" class="form-control" id="inputApellido" placeholder="Apellido" ng-model="apellido" required>
				</div>
				<!-- Sexo -->
				<div class="form-group col-md-2">
					<label for="inputSexo">Sexo</label>
					<select id="inputSexo" class="form-control" ng-model="sexo">						
						<option value="Masculino">Masculino</option>
						<option value="Femenino">Femenino</option>
					</select>
				</div>
			</div>
			<!-- Renglon -->
			<div class="form-row">
				<!-- Email -->
				<div class="form-group col-md-4">
					<label for="inputAddress">Email</label>
					<input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="email">
				</div>
				<!-- Telefono -->
				<div class="form-group col-md-4">
					<label for="inputTelefono">Telefono</label>
					<input type="tel" class="form-control" id="inputTelefono" placeholder="Telefono" ng-model="telefono">
				</div>
				<!-- Emergencia -->
				<div class="form-group col-md-4">
					<label for="inputEmergencia">Emergencia</label>
					<input type="tel" class="form-control" id="inputEmergencia" placeholder="Emergencia" ng-model="emergencia">
				</div>
			</div>
			<!-- Renglon -->
			<div class="form-row">
				<!-- Fecha de Nacimiento -->
				<div class="form-group col-md-4">
					<label for="inputFNac">Fecha de Nacimiento</label>
					<input type="date" class="form-control" id="inputFNac" ng-model="fechan" required>
				</div>
				<!-- Cedula -->
				<div class="form-group col-md-4">
					<label for="inputCedula">Cedula</label>
					<input type="number" class="form-control" id="inputCedula" ng-model="documento" required>
				</div>
				<!-- Profesion -->
				<div class="form-group col-md-4">
					<label for="inputProf">Profesion</label>
					<select id="inputProf" class="form-control" required ng-model="idprofesion">
						<option value="estudiante">Estudiante</option>
						<option value="empleado">Empleado</option>
						<option value="desocupado">Desocupado</option>
					</select>
				</div>
			</div>
			<!-- Renglon -->
			<div class="form-row">
				<!-- Direccion -->
				<div class="form-group col-md-12">
					<label for="inputDir">Direccion</label>
					<input type="text" class="form-control" id="inputDir" placeholder="Direccion" ng-model="direccion">	
				</div>
			</div>
			<!-- Renglon -->
			<div class="form-row">
				<!-- Contacto -->
				<div class="form-group col-md-12">
					<h4>Contacto</h4>
				</div>
				<!-- Nombre -->
				<div class="form-group col-md-6">
					<label for="inputNomC">Nombre</label>
					<input type="text" class="form-control" id="inputNomC" placeholder="Nombre Contacto" ng-model="nomcontacto">	
				</div>
				<!-- Telefono -->
				<div class="form-group col-md-6">
					<label for="inputTelC">Telefono</label>
					<input type="tel" class="form-control" id="inputTelC" placeholder="Telefono Contacto" ng-model="telcontacto">	
				</div>
			</div>
			<div class="form-row col-md-12">
				<div class="form-row col-md-4">
					<div class="form-group">
					  	<label for="objetivos">Objetivo</label>
						<select id="objetivos" class="form-control" required ng-model="idobjetivos">							
							<option value="1">Chau a esos kilos de mas</option>
							<option value="2">Pasarla bien y mejor</option>
							<option value="3">Llegar al final del partido</option>
							<option value="4">Chau estres</option>
							<option value="5">Que mi doctor sonria</option>
							<option value="6">Otro</option>
						</select>
					</div>
				</div>

				<div class="form-row col-md-4">
					<div class="form-group">				
					  	<label for="horario">Voy a hacerlo</label>
						<select id="horario" class="form-control" required ng-model="idhorario">							
							<option value="1">Por la manana</option>
							<option value="2">A la tarde</option>
							<option value="3">A la noche</option>
							<option value="4">Cuando me escape</option>
						</select>
					</div>
				</div>

				<div class="form-row col-md-4">
					<div class="form-group ">
						<label for="logro">Voy a lograrlo en</label>
						<select id="logro" class="form-control" required ng-model="idlogro">							
							<option value="1">3 meses</option>
							<option value="2">6 meses</option>
							<option value="3">9 meses</option>
							<option value="4">12 meses</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-row col-md-12">
				<div class="form-row col-md-4">
					<div class="form-group">
						<label for="interes">Me interesa</label>
						<select id="interes" class="form-control" required ng-model="idinteres">							
							<option value="1">Entrenamiento funcional</option>
							<option value="2">Cycling / Ciclismo </option>
							<option value="3">Grupo de corredores</option>
							<option value="4">Otro</option>
						</select>
					</div>
				</div>

				<div class="form-row col-md-4">
					<div class="form-group">
						<label for="enterado">Me entere por</label>
						<select id="enterado" class="form-control" required ng-model="identerado">							
							<option value="1">Un amigo</option>
							<option value="2">Radio / TV</option>
							<option value="3">Facebook / Instagram </option>
							<option value="4">Evento / Clase abierta</option>
							<option value="5">Folleto / Afiche</option>
							<option value="6">Otro</option>
						</select>
					</div>
				</div>

				<div class="form-row col-md-4">
					<div class="form-group">
					  	<label for="aviso">Me avisan por</label>
						<select id="aviso" class="form-control" required ng-model="idaviso">							
							<option value="1">SMS</option>
							<option value="2">Movil</option>
							<option value="3">E-Mail </option>
							<option value="4">Facebook</option>
							<option value="5">Whatsapp</option>
						</select>
					</div>
				</div>
			</div>
			<!-- Send -->
			<button type="submit" class="btn btn-primary">Enviar</button>			
		</form>
	</div>
    <!-- Optional JavaScript -->
  	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-cookies.js"></script>
  	<script src="/js/afiliacion.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js" ></script>
    <script src="/js/popper.min.js" ></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
  </body>
</html>