<div ng-switch on="cargando" >

  <md-progress-circular md-mode="indeterminate" ng-switch-when="1"></md-progress-circular>
    <md-toolbar>
      <div class="md-toolbar-tools">
          <h2 ng-show="!busco">Personas</h2>
          <h2 ng-show="busco">  <input  class="md-primary" ng-model="busqueda" ng-change="cambioBusqueda(busqueda)"> </h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cambioBusco(busco)" aria-label="1">
            <i class="fas fa-search" ></i>
          </md-button>
        </div>
      </md-toolbar>

  <md-content class="full-height">
    <md-list style="height: {{hgt}}px !important;">
      <md-list-item class="md-3-line" ng-repeat="item in personas | filter:busqueda" data-ng-click="BindSelPersona(item)" layout="row">
        <div class="md-list-item-text" layout="column">
          <h3>Nombre: {{item.nombre}} {{item.apellido}}</h3>
          <h4>CI: {{item.documento}}</h4>
        </div>
      </md-list-item>
    </md-list>
  </md-content>

</div>