
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
        <div ng-switch on="cargando" ng-cloak>
            <md-progress-circular md-mode="indeterminate" ng-switch-when="1"></md-progress-circular>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2 ng-show="!busco">Personas</h2>
                <h2 ng-show="busco"> <input class="md-primary" ng-model="busqueda" ng-change="cambioBusqueda(busqueda)"> </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cambioBusco(busco)" aria-label="1">
                  <md-tooltip md-direction="bottom">Buscar</md-tooltip>
                  <md-icon class="material-icons">search</md-icon>
                </md-button>
                <md-button aria-label="aniadir" class="md-icon-button" ng-click="addPersona()">
                  <md-tooltip md-direction="down">A&ntilde;adir persona</md-tooltip>
                  <md-icon class="material-icons">person_add</md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-content class="full-height" ng-switch-when="0">
              <md-list style="height: {{hgt}}px !important;">
                <md-list-item class="md-3-line" ng-repeat="item in personas | filter:busqueda" data-ng-click="BindSelPersona(item)"
                  layout="row">
                  <div class="md-list-item-text md-accent" layout="column" >
                    <h3>Nombre: {{item.nombre}} {{item.apellido}}</h3>
                    <h4>CI: {{item.documento}}</h4>

                    <h4 ng-show="item.afiliacions[0].estado=='1'" style="color: green">Activo</h4>
                    <h4 ng-show="item.afiliacions[0].estado=='0'" style="color: firebrick">Inactivo</h4>
                  </div>
                </md-list-item>
              </md-list>
            </md-content>
          </div>
          
    </div>
  </div>
   <div class="row">
      <div class="col-12 col-md-6">
         <!-- <div flex style="float: right; position: fixed;" >-->
            <div>
              <md-fab-speed-dial md-open="false" md-direction="right" ng-class="'md-fling'">
                <md-fab-trigger>
                  <md-button aria-label="menu" class="md-fab md-warn">
                    <md-tooltip md-direction="top">Menu</md-tooltip>
                    <md-icon class="material-icons">menu</md-icon>
                  </md-button>
                </md-fab-trigger>
        
        
        
                <md-fab-actions>
        
                  <md-button aria-label="cloud" class="md-fab md-raised md-mini" href="/new_index">
                    <md-tooltip md-direction="top">Inicio</md-tooltip>
                    <md-icon class="material-icons" aria-label="cloud" href="/new_index">home</md-icon>
                  </md-button>
        
                  <md-button aria-label="cloud" class="md-fab md-raised md-mini" href="/ingreso" target="_blank">
                    <md-tooltip md-direction="top">Ingreso</md-tooltip>
                    <md-icon class="material-icons" aria-label="cloud">group_add</md-icon>
                  </md-button>
        
                  <md-button aria-label="Facebook" class="md-fab md-raised md-mini" href="/asistencia">
                    <md-tooltip md-direction="top">Asistencias</md-tooltip>
                    <md-icon class="material-icons" aria-label="Facebook">add_circle_outline</md-icon>
                  </md-button>
        
                  <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini" href="/inasistencia">
                    <md-tooltip md-direction="top">Inasistencias</md-tooltip>
                    <md-icon class="material-icons" aria-label="Google Hangout">remove_circle_outline</md-icon>
                  </md-button>
        
                  <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini" href="/ultimoplan">
                    <md-tooltip md-direction="top">Ultimos planes</md-tooltip>
                    <md-icon class="material-icons" aria-label="Google Hangout">view_headline</md-icon>
                  </md-button>
        
                </md-fab-actions>
              </md-fab-speed-dial>
            </div>
      </div>
   </div>

 </div>




    

    
  