<div ng-switch on="cargando" >

  <md-progress-circular md-mode="indeterminate" ng-switch-when="1"></md-progress-circular>

  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Personas</span>
    </h2>
  </md-toolbar>

  <md-content class="full-heigth">
    <md-list style="height: {{hgt}}px !important;">
      <md-list-item class="md-3-line" ng-repeat="item in personas" data-ng-click="BindSelPersona(item)" layout="row">
        <div class="md-list-item-text" layout="column">
          <h3>Nombre: {{item.nombre}} {{item.apellido}}</h3>
          <h4>CI: {{item.documento}}</h4>
        </div>
      </md-list-item>
    </md-list>
  </md-content>

</div>