<!doctype html>
<html lang="en" ng-app="asistencia">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">

  <!-- Iconos -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" >
    <title>Asistencias</title>
  </head>
  <body ng-controller="myController">
  
  <div ng-include="'/barra'"> </div>    
  <div class="container"><br><br><br></div>
  <div class="container">
    <div class="container form-row" >
      <input class="col-sm-3" type="text" ng-model="search.documento" placeholder="Documento">
      <input class="col-sm-3" type="text" ng-model="search.nombre" placeholder="Nombre">
      <input class="col-sm-3" type="text" ng-model="search.apellido" placeholder="Apellido">
      <input class="col-sm-3" type="text" ng-model="search.fecha" placeholder="Fecha">
    </div>
    <div class="container form-row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" > <a href="#" ng-click="sortType = 'documento'"> Documento </a></th>
            <th scope="col"> <a href="#" ng-click="sortType = 'nombre'"> Nombre</a></th>
            <th scope="col"><a href="#" ng-click="sortType = 'apellido'">Apellido</a></th>
            <th scope="col"><a href="#" ng-click="sortType = 'fecha'">Fecha</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="listaAsistencia in data | filter:search:strict | orderBy:sortType:false | limitTo: 10 ">
            <th scope="row">{{listaAsistencia.documento}}</th>
            <td>{{listaAsistencia.nombre}}</td>
            <td>{{listaAsistencia.apellido}}</td>
            <td>{{listaAsistencia.fecha}}</td>
            <td><a href="#" ng-click="setCookie(listaAsistencia.documento)"><button type="button" class="btn btn-default btn-sm"><i class="fas fa-dollar-sign"></i></button></a></td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
    <!-- Optional JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-cookies.js"></script>
  <script src="/js/asistencia.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-3.3.1.min.js" ></script>
    <script src="../js/popper.min.js" ></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
  </body>
</html>