<md-dialog aria-label="Insertar pago">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Insertar plan</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="1">
          <i class="fas fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content flex>
      <div class="md-dialog-content">
        <div layout="row">
          <md-input-container>
            <label>Tipo de plan</label>
            <md-select ng-model="tipoplan" required ng-change="cambioPlan(tipoplan)">
              <md-option ng-repeat="tipo in tipoplanes" value="{{tipo.id}}">{{tipo.descripcion}}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container><label>Duracion</label><input ng-model="duracion" ng-value="duracion"></md-input-container>
          <md-input-container>
            <label>Medio de pago</label>
            <md-select ng-model="mediopago" required>
              <md-option ng-repeat="medio in mediospagos" value="{{medio.id}}">{{medio.descripcion}}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <md-input-container><label>Importe</label><input ng-model="importe" required type="number"></md-input-container>
        <md-input-container><label>Cuotas</label><input ng-model="cuotas" required type="number"></md-input-container>
        <md-input-container><label>Desde</label>
          <md-datepicker ng-model="inicio" required></md-datepicker>
        </md-input-container>
        <md-input-container><label>Hasta</label>
          <md-datepicker ng-model="fin" required></md-datepicker>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()" class="md-warn">
        Cancelar
      </md-button>
      <md-button ng-click="answer({duracion, importe, mediopago,tipoplan,inicio,fin,cuotas})">
        Aceptar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>