<!doctype html>
<html lang="en" ng-app="Login">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/css/common.css">

    <title>Ingresar</title>
  </head>
  <body class="text-center" ng-controller="LoginControl">

	<!-- Form Login -->
	<div class="container-fluid">
		<form class="form-signin" ng-submit="submit()" >
			<img class="mb-4" src="/img/mancuerna.svg" alt="" width="90" height="90">
	 		<h1 class="h3 mb-3 font-weight-normal">Arenas del Pinar</h1> 
			<label for="inputUser" class="sr-only">Usuario</label>
			<input type="text" id="inputUser" class="form-control" placeholder="Usuario" ng-model="User" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="Pswd" required>
			
			<!-- Boton recordar
			<div class="checkbox mb-3">
				<label>
				<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div> -->
			
			<button class="btn btn-lg btn-primary btn-block" type="submit" id="submit" value="Submit" >Ingresar</button>
			<p class="mt-5 mb-3 text-muted">Nico & Agus &copy; 2018</p>

			  		<!--<div ng-switch on="bandera">
             			<div ng-switch-when="1">
               				<div class="alert alert-success alert-dismissible role="alert">Bienvenido {{persona.nombre}}   {{persona.apellido}} última cuota paga {{pago.mes}}/{{pago.anio}} </div>
             			</div>
             			 
             			<div ng-switch-when="2">
            				<div class="alert alert-danger alert-dismissible role="alert">Bienvenido {{persona.nombre}}   {{persona.apellido}} última cuota paga {{pago.mes}}/{{pago.anio}} </div>
             			</div>
          			</div>-->



			<!-- <pre>list={{list}}</pre> -->
		</form>
	</div>
	
    <!-- Optional JavaScript -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-cookies.js"></script>
	<script src="/js/login.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js" ></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
  </body>
</html>