<!doctype html>
<html lang="en" ng-app="Pagos">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">

  <!-- Iconos -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" >
    <title>Personas</title>

    <!-- Optional JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-cookies.js"></script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js" ></script>
    <script src="/js/popper.min.js" ></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
     <script src="/js/pagos.js"></script>
     <script src="/js/carga.js"></script>
        <style>
             form{margin:100px; position:relative; width:250px; height:150px}
            .capaTransparente{position:absolute; height:100%; width:100%; background:#ccc; opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0;}
         </style>




  </head>
  <body ng-controller="myController">
    <div ng-include="'barra'"> </div>    
    <div class="container"><br><br><br></div>
    <div class="container content-wrapper">
      <div class="container">
        <h1>{{documento}} - {{personas.nombre}} {{personas.apellido}}</h1>  
        <div class="container form-row" >
          <form class="form-signin" ng-submit="submit()">
            <input id="mes" class="col-md-4" type="text" pattern="[0-9.]+" ng-model="search.mes" ng-change="clear()" placeholder="Mes" required>
            <input class="col-md-4" type="text" pattern="[0-9.]+" ng-model="search.anio" ng-change="clear()" placeholder="Año" required>
            <select id="inputSexo" class="form-control col-md-4"  ng-model="search.tipomovimiento"" placeholder="Tipo de Movimiento" ng-change="clear()" required>            
              <option value="1">Pago</option>
              <option value="2">Anulación</option>
            </select>
            <select id="inputSexo" class="form-control" ng-model="search.tipopago" ng-change="clear()" required  placeholder="Tipo de Pago">            
              <option value="1">Cuota</option>
              <option value="2">Matrícula</option>
              <option value="3">Otro</option>
            </select>
            <input class="col-md-5" type="text" pattern="[0-9.]+" ng-model="search.importe" ng-change="clear()" placeholder="Importe" required>   

           <!--  <button class="btn btn-lg btn-primary btn-block col-md-5" type="submit" id="submit" value="Submit" >Insertar pago</button>  -->   
            <div ng-switch on="banderaPago">
             <div ng-switch-when="1">
              <button class="btn btn-lg btn-primary btn-block col-md-7" type="submit" id="submit" value="Submit">Insertar pago</button>
             </div>
              
             <div ng-switch-when="2">
              <button class="btn btn-lg btn-primary btn-block col-md-7" type="submit" id="submit" value="Submit" disabled="" >Insertar pago</button>
             </div>
             
            </div>

          </form>
        </div>

        <div class="container form-row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" >Mes</th>
                <th scope="col">Anio</th>
                <th scope="col">Tipo de movimiento</th>
                <th scope="col">Tipo Pago</th>
                <th scope="col">Importe</th>            
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in pagos | filter:search | orderBy : ['-anio', '-mes'] | limitTo: 10 " ng-class="{'table-success': item.tipomovimiento=='1', 'table-danger': item.tipomovimiento=='2'}"> 
                <td >{{item.mes}}</th>
                <td>{{item.anio}}</td>
                <td>
                  <label for="tipomovimiento" ng-class="{'d-none': item.tipomovimiento=='2'}">Pago</label>
                  <label for="tipomovimiento" ng-class="{'d-none': item.tipomovimiento=='1'}">Anulación</label></td>
                <td>
                  <label for="tipopago" ng-class="{'d-none': item.tipopago=='2' || item.tipopago=='3'}">Cuota</label>
                  <label for="tipopago" ng-class="{'d-none': item.tipopago=='1' || item.tipopago=='3'}">Matrícula</label>
                  <label for="tipopago" ng-class="{'d-none': item.tipopago=='1' || item.tipopago=='2'}">Otro</label></td>
                <td>{{item.importe}}</td>
              </tr>
            </tbody>
          </table>  
        </div>
      </div>
    </div>
   
  </body>
</html>